.panel{
    background-color:#D2B48C;
    border-radius:8px;
    height:50px;
    overflow: hidden;
    margin-left:10px;
    margin-right:10px;
    text-align: center;
}
 .nameApplication{
    font-size:30;
    text-decoration:none;
}
.nameApplication:hover{
    color:black;
}
.panel .nameApplication{
    margin-top: 7px;
    margin-left:15px;
    float: left;
    display: inline;
}
.panel button{
    height:40px;
    margin-left:5px;
    background-color:#D2B48C;
    border-radius: 8px 8px 0 0 ;
    border:none;
}
button {
  margin-top:5px;
  display: inline;
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
button:hover {
	background-color: #b8b2ad;
}

.panel button:hover {
  background-color: #ddd;
  color: black;
}

.panel button.active {
  background-color: #4CAF50;
  color: white;
}
